<formulario-login (nombreUsuario)="nombreUsuario=($event)"></formulario-login>
<div class="card card-block w-75 p-3 mx-auto mt-3" *ngIf="nombreUsuario.length>0">
    <div>
        <h4 class="card-title text-center">Bienvenido {{nombreUsuario}}</h4>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <filtro-busqueda></filtro-busqueda>
          </div>
          <div class="col-md-6">
            <listado-libros></listado-libros>
          </div>
        </div>
      </div>
</div>



